.site-logo img {
    max-height: 200px;
}

.site-logo {
  display: block; // Ensures it's a block element for margin auto to work
  margin-left: auto;
  margin-right: auto;
  text-align: center; // For text-based logos or if the image is within a text container
}

.site-header {
  text-align: center; // Centers content within the header
}